node_modules
.env
.env.test
.env.local
.env.prod
access.log
package-lock.json
yarn.lock
yarn-error.log
.vscode
.gcloudignore
app.yaml
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
